# Global variables for the stack
KAFKA_SERVER=12.34.56.67:9092
KAFKA_DEFAULT_SET_TIMEOUT=5000
NODE_ENV=production


# CUSTOMER MICRO SERVICE
## Database configuration for Customers service
CUS_DB_HOST=api-clients-db
CUS_DB_PORT=5433
CUS_DB_USER=db-user-customers
CUS_DB_PASSWORD=db-password-customers
CUS_DB_NAME=clients-db

### Application configuration for Customers service
CUS_APP_DATABASE_URL=postgres://${CUS_DB_USER}:${CUS_DB_PASSWORD}@${CUS_DB_HOST}:${CUS_DB_PORT}/${CUS_DB_NAME}
CUS_APP_PORT=3001



# ORDER MICRO SERVICE
## Database configuration for Orders service
ORD_DB_HOST=api-orders-db
ORD_DB_PORT=5434
ORD_DB_USER=db-user-orders
ORD_DB_PASSWORD=db-password-orders
ORD_DB_NAME=orders-db

### Application configuration for Orders service
ORD_APP_DATABASE_URL=postgres://${ORD_DB_USER}:${ORD_DB_PASSWORD}@${ORD_DB_HOST}:${ORD_DB_PORT}/${ORD_DB_NAME}
ORD_APP_PORT=3002



# PRODUCT MICRO SERVICE
## Database configuration for Products service
PRO_DB_HOST=api-products-db
PRO_DB_PORT=5435
PRO_DB_USER=db-user-products
PRO_DB_PASSWORD=db-password-products
PRO_DB_NAME=products-db

### Application configuration for Products service
PRO_APP_DATABASE_URL=postgres://${PRO_DB_USER}:${PRO_DB_PASSWORD}@${PRO_DB_HOST}:${PRO_DB_PORT}/${PRO_DB_NAME}
PRO_APP_PORT=3003



# GATEWAY MICRO SERVICE
## Database configuration for Gateway
GW_DB_HOST=api-gateway-db
GW_DB_PORT=5432
GW_DB_USER=db-user-gateway
GW_DB_PASSWORD=db-password-gateway
GW_DB_NAME=gateway-db

### Application configuration for Gateway
GW_APP_DATABASE_URL=postgres://${GW_DB_USER}:${GW_DB_PASSWORD}@${GW_DB_HOST}:${GW_DB_PORT}/${GW_DB_NAME}
GW_APP_PORT=3000
GW_APP_CUSTOMER_API_URI=http://api-clients:${CUS_APP_PORT}/api/customers
GW_APP_ORDER_API_URI=http://api-orders:${ORD_APP_PORT}/api/orders
GW_APP_PRODUCT_API_URI=http://api-products:${PRO_APP_PORT}/api/products
GW_APP_JWT_SECRET=jwt-secret
GW_APP_REGISTER_SECRET=register-secret